--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchvision==0.18.1+cpu
torchaudio==2.3.1+cpu
numpy>=1.26.0
scipy>=1.11.4
onnx

fastapi
uvicorn
pydantic
python-multipart
demucs
torchcodec
soundfile

faster-whisper
audio-separator[cpu]

huggingface-hub==0.22.2
pydub

deepfilternet


torchcodec
