--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
numpy
fastapi
uvicorn
pydantic
python-multipart
demucs
torchcodec
soundfile
basic-pitch
faster-whisper
audio-separator[cpu]
pyannote.audio
pydub

ml-dtypes>=0.4.0
deepfilternet
