--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
numpy<1.24,>=1.23.5
tensorflow==2.13.1
fastapi
uvicorn
pydantic
python-multipart
demucs
torchcodec
soundfile
basic-pitch
faster-whisper
audio-separator[cpu]
pyannote.audio
pydub

deepfilternet
